<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 min-h-screen">
  <div class="sm:w-auto py-1 mt-10 mb-10 px-4 sm:p-10 ">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16">
      <div class="w-full max-w-180 sm:w-180 mx-auto sm:mx-0">
        <div class="mt-0 text-4xl font-extrabold tracking-tight leading-tight">Eintrag Erfassen</div>
        <form class="mt-8" [formGroup]="entryForm" #entryNgForm="ngForm">
          <mat-form-field class="w-full">
            <mat-label>Titel</mat-label>
            <input id="title" matInput [formControlName]="'title'" required>
            <mat-error *ngIf="entryForm.get('title').hasError('required')">Required</mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Einleitung</mat-label>
            <textarea id="introduction" matInput [formControlName]="'introduction'" required></textarea>
            <mat-error *ngIf="entryForm.get('introduction').hasError('required')">Required</mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Content</mat-label>
            <textarea style="height: 300px" id="content" matInput [formControlName]="'content'" required></textarea>
            <mat-error *ngIf="entryForm.get('content').hasError('required')">Required</mat-error>
          </mat-form-field>
          <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'" [disabled]="entryForm.invalid" (click)="entry()">
            <span *ngIf="!entryForm.pending">Erstellen</span>
            <mat-progress-spinner *ngIf="entryForm.pending" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
