.github/
.idea/

pnpm-lock.yaml
pnpm-workspace.yaml

blogify-api-client/dist/
blogify-api-client/node_modules/

blogify-backend/dist/
blogify-backend/node_modules/
blogify-backend/package-lock.yaml

blogify-frontend/**/*.html
blogify-frontend/**/*.scss
blogify-frontend/.angular/
blogify-frontend/dist/
blogify-frontend/node_modules/
blogify-frontend/package-lock.yaml